<h1></h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Your cart is empty!</h1>
    <p class="lead"><%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %></p>
  </div>
</div>